<h1> New Question page </h1>
<p>post  "questions/:id" = questions#create in questions#new created through resources :questions by the routes file </p>
<% if @question.errors.any? %>
  <ul> <% @question.errors.full_messages.each do |m| %>
    <li><%= m %></li>
  <% end %></ul>
<% end %>

<%= render 'form' %>
