%h1 About Us 
.hello
  %h3
    Welcome To Codecore
%br
= image_tag "butters1.gif"
.loo{:style => "color: blue;"} 
  %h4
    Loo, loo, loo I got some apples
.loo2{:style => "color: blue;"}
  %h4
    Loo, loo, loo you got some too!
.loo3{:style => "color: blue;"}
  %h4
    Disclaimer: Codecore nd apples may be bad 4 yo health


