@import 'bootstrap';
/*my lesson on Sass */
@mixin border-radius_or_sum_attr($var) {
  -webkit-border-radius: $var;
  -moz-border-radius: $var;
  -ms-border-radius: $var;
   border-radius: $var;
}
#put_ur_css_selector_hurr { 
  @include border-radius_or_sum_attr(30px);
}
/* or @extend to another selector attr's of another selector and add more attrs!*/ 
$blue: blue;
#put_ur_css_selector_hurr {
  background-color: $blue;
}

.btn.btn-primary {
  background-color: black;
  color: white;
  border-color: black;
}
.btn:hover {
    background-color: grey;
  }
.btn.btn-danger {
  width: 50%;
}
.btn.btn-info {
  width: 50%;
}
#vote-btn {
  background-color: #f4e0c7;
  height: 20px;
  width: 50%;
  font-size: 0.8em;
  font-weight: bold;
  display: inline !important;
}
.container {
   color: black;
    a {
      text-decoration: underline;
   }
 }
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px 0;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
